{% load otree %}

{{ for question in questions }}
<div class="mb-3 _formfield hidden" id="container-quiz{{ question.index }}">
  <div class="question">{{ question.index }}. {{ question.text }}</div>
  {{ if question.table }}
    {{ include question.table }}
  {{ endif }}
  {{ for answer in question.choices }}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="quiz{{ question.index }}"
             id="quiz{{ question.index }}-{{ forloop.counter0 }}">
      <label for="quiz{{ question.index }}-{{ forloop.counter0 }}" class="label">
        {{ answer|safe }}
      </label>
    </div>
  {{ endfor }}
</div>
{{ endfor }}

<p>
  <button class="otree-btn-next btn btn-primary" type="button" id="next-button">
    Submit
  </button>
</p>
