{% block title %}Work Phase (Period {{ subsession.round_number }}/{{ C.NUM_ROUNDS }}){% endblock %}

{% block content %}
{{ include '_modals/labor_market/revenue_table.html' }}

<div class="row gx-5 px-3">
  <div class="col-7">
    <h3>Effort choice</h3>

    <p>You have been hired by <b>{{ contract.manager.label }}</b>. Your offer history with them is highlighted.</p>

    <p>
      You must now decide which level of effort you wish to exert.
      The cost for each level of effort is shown in the table below.
      The level of effort you select will directly affect the revenue and pay of your employer in this period.
    </p>

    {{ if contract.training }}
    <p>
      As a reminder, your employer is providing you with training this period.
      As a result, your skill level will increase in the next period.
      During the current period, your employer will only get half of the revenue for whatever effort level you select.
    </p>
    {{ else }}
    <p>
      As a reminder, your employer is providing you with no training this period.
      As a result, your skill level will not increase in the next period.
      During the current period, your employer will get the full revenue for whatever effort level you select.
    </p>
    {{ endif }}

    <p>
      In the space below, please indicate the level of effort you wish to exert (1-10).
    </p>

    {{ formfield_errors 'work_effort' }}

    <table class="table table-bordered text-center costs-table">
      <tbody>
        <tr>
          <th scope="row">Choice</th>
          {{ for cost in effort_costs }}
          <td data-effort-level="{{forloop.counter}}"><input class="form-check-input" type="radio" id="id_work_effort-{{forloop.counter0}}" name="work_effort" required value="{{forloop.counter}}" /></td>
          {{ endfor }}
        </tr>
        <tr>
          <th scope="row">Effort level</th>
          {{ for cost in effort_costs }}
          <td data-effort-level="{{forloop.counter}}">{{forloop.counter}}</td>
          {{ endfor }}
        </tr>
        <tr>
          <th scope="row">Cost to you</th>
          {{ for cost in effort_costs }}
          <td data-effort-level="{{forloop.counter}}">{{cost | cu}}</td>
          {{ endfor }}
        </tr>
        <tr>
          <td colspan="11"></td>
        </tr>
        <tr>
          <th scope="row">Your pay</th>
          {{ for employee_payoff in employee_payoff_values }}
          <td data-effort-level="{{forloop.counter}}">{{employee_payoff | cu}}</td>
          {{ endfor }}
        </tr>
        <tr>
          <th scope="row">Employer pay</th>
          {{ for employer_payoff in employer_payoff_values }}
          <td data-effort-level="{{forloop.counter}}">{{employer_payoff | cu}}</td>
          {{ endfor }}
        </tr>
      </tbody>
    </table>

    <p>
      If you wish to review the employer payout table, you may click on the link below:
    </p>
    <ul id="links-list">
      <li>
        <a href="#" data-bs-toggle="modal" data-bs-target="#revenue-table-modal">
          Employer Payout Table
        </a>
      </li>
    </ul>

    <p>
      When you are ready to submit your decision, click the button below.
    </p>
    <button class="btn btn-primary btn-lg">Confirm effort</button>
  </div>

  <div class="col-5">
    {{ include 'labor_market/components/PlayerSidebar.html' }}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module">
  for (const row of document.querySelectorAll(`.offer-history-table tr[data-id-in-group='${js_vars.manager_id}']`)) {
    row.classList.add("row-selected");
  }

  function selectChoice() {
    for (const el of document.querySelectorAll("[data-effort-level]")) {
      el.classList.toggle("col-selected", el.dataset.effortLevel == this.value);
    }
  }

  for (const el of document.querySelectorAll("input[name='work_effort']")) {
    el.addEventListener("change", selectChoice);
  }
</script>
{% endblock %}

{% block styles %}
<style>
  .otree-body {
    max-width: 1870px;
  }

  .otree-title {
    text-align: center;
    padding-top: 0;
  }

  .form-label {
    font-weight: bold;
  }

  .costs-table td.col-selected {
    background-color: hsl(from var(--bs-primary) h s 90%);
  }

  .offer-history-table tr.row-selected {
    background-color: hsl(from var(--bs-info) h s 90%);
  }

  ul#links-list {
    list-style-type: none;
  }
</style>
{% endblock %}