{% block title %}(Period {{ subsession.round_number }}/{{ C.NUM_ROUNDS }} | Step {{ player.offer_step }}/{{ C.HIRING_STEPS }}) - Hiring Phase{% endblock %}

{{ block content }}
<div class="row gx-5 px-3">
  <div class="col-7">
    <h3>Offer choice</h3>

    <p>You have received the following offers:</p>

    <table class="table table-bordered table-striped text-center employee-choice-table">
      <thead>
        <tr>
          <th style="width: 10%;">Choice</th>
          <th style="width: 50%;">Company</th>
          <th style="width: 20%;">Salary</th>
          <th style="width: 20%;">Training (Y/N)</th>
        </tr>
      </thead>
      <tbody>
        {% for offer in open_offers %}
        <tr>
          <td>
            <input class="form-check-input" type="radio" id="id_player_matched-{{ forloop.counter0 }}"
                   name="player_matched" required value="{{ offer.manager.id_in_group }}" />
          </td>
          <td>{{ offer.manager.label }}</td>
          <td>{{ offer.wage }}</td>
          <td>{{ if offer.training }}Y{{ else }}N{{ endif }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <input class="d-none" type="radio" id="id_player_matched-{{ num_offers }}" name="player_matched" required
           value="0" />

    {{ formfield_errors 'player_matched' }}

    <p>
      If you do not wish to accept any of the offers, click the "Reject All Offers" button below.
      <strong>Note:</strong> if you reject all offers, you will not be able to receive another offer from
      any of these employers in this period.
    </p>

    <button id="reject-all-offers" class="btn btn-secondary btn-lg" name="player_matched" value="0">
      Reject All Offers
    </button>
    <button id="accept-offer" class="btn btn-primary btn-lg">Accept offer</button>
  </div>
  <div class="col-5">
    {{ include 'labor_market/components/PlayerSidebar.html' }}
  </div>
</div>
{{ endblock }}

{{ block scripts }}
<script type="module">
  function rejectAllOffersButtonOnClick() {
    document.getElementById('id_player_matched-{{ num_offers }}').checked = true;
  }
  
  function acceptOfferButtonOnClick() {
    document.getElementById('id_player_matched-{{ num_offers }}').checked = false;
  }

  function selectChoice() {
    for (const el of document.querySelectorAll(".row-selected")) {
      el.classList.remove("row-selected");
    }

    this.closest("tr")?.classList.add("row-selected");

    for (const row of document.querySelectorAll(`.offer-history-table tr[data-id-in-group='${this.value}']`)) {
      row.classList.add("row-selected");
    }
  }

  for (const el of document.querySelectorAll("input[name='player_matched']")) {
    el.addEventListener("change", selectChoice);
  }
  
  const rejectAllOffersButton = document.getElementById("reject-all-offers");
  rejectAllOffersButton.removeEventListener("click", rejectAllOffersButtonOnClick);
  rejectAllOffersButton.addEventListener("click", rejectAllOffersButtonOnClick);
  
  const acceptOfferButton = document.getElementById("accept-offer");
  acceptOfferButton.removeEventListener("click", acceptOfferButtonOnClick);
  acceptOfferButton.addEventListener("click", acceptOfferButtonOnClick);
</script>
{{ endblock }}

{{ block styles }}
<style>
  .otree-body {
    max-width: 1870px;
  }

  .otree-title {
    text-align: center;
    padding-top: 0;
  }

  .employee-choice-table tr.row-selected {
    background-color: hsl(from var(--bs-primary) h s 90%);
  }

  .offer-history-table tr.row-selected {
    background-color: hsl(from var(--bs-info) h s 90%);
  }
</style>
{{ endblock }}