{% block title %}(Period {{ subsession.round_number }}/{{ C.NUM_ROUNDS }} | Hiring step {{ player.offer_step }}/{{ C.HIRING_STEPS }}) - Hiring Phase{% endblock %}

{% block content %}
{{ include '_modals/labor_market/offer_confirmation.html' }}

<div class="row gx-5 px-3">
  <div class="col-7">
    {{ include '_tables/global/revenue.html' }}

    <p>
      As a reminder, your revenue is based on the hired worker's skill level and effort level.
      If you choose to offer training, your revenue will be halved for this period
      and 50 points direct training cost will be deducted from it.
    </p>

    <p>
      The following workers are available for hire. Select one worker to make an offer to.
    </p>

    <p>
      In the space below, select the worker you wish to hire and your salary offer in points.
      Also, indicate whether you will provide training in this period.
    </p>

    <table class="table table-sm table-bordered table-striped text-center employee-choice-table">
      <thead>
        <tr>
          <th style="width: 10%;">Choice</th>
          <th style="width: 40%;">Worker</th>
          <th style="width: 10%;">Skill Level</th>
          <th style="width: 40%;">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for choice in employee_pool %}
        <tr>
          <td>
            {% if choice.eligible %}
            <input class="form-check-input" type="radio" id="id_offer_employee-{{ choice.choice_id }}"
                   name="offer_employee" required value="{{ choice.employee.id_in_group }}"
                   data-label="{{ choice.employee.label }}"
                   data-skill-level="{{ choice.employee.skill }}"/>
            {% else %}
            N/A
            {% endif %}
          </td>
          <td>{{ choice.employee.label }}</td>
          <td>{{ choice.employee.skill }}</td>
          {% if choice.eligible %}
          <td class="table-success">Looking for work</td>
          {% elif choice.rejected %}
          <td class="table-danger">Rejected your offer</td>
          {% else %}
          <td class="table-warning">Hired by a competitor</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <input class="d-none" type="radio" id="id_offer_employee-{{ eligible_offers }}" name="offer_employee" value="0" />
    
    {{ formfield_errors 'offer_employee' }}
    {{ formfield_errors 'offer_wage' }}
    {{ formfield_errors 'offer_training' }}
    
    <div class="row">
      <div class="col-auto">
        <div class="mb-3">
          <label class="form-label" for="id_offer_wage">Salary offer (1–{{ session.config.max_wage }})</label>
          <div class="input-group input-group-narrow">
            <input class="form-control" type="number" inputmode="numeric" min="1" max="{{ session.config.max_wage }}"
                   id="id_offer_wage" name="offer_wage" required>
          </div>
        </div>
      </div>
      <div class="col-auto mt-2">
        <label class="form-label" for="id_offer_training">Include training?</label>
        <div id="id_offer_training">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="id_offer_training-0" name="offer_training"
                     required value="True">
              <label for="id_offer_training-0" class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="id_offer_training-1" name="offer_training"
                     required value="False">
              <label for="id_offer_training-1" class="form-check-label">No</label>
          </div>
        </div>
      </div>
      <div class="col-auto mt-4">
        <button class="btn btn-primary btn-lg" id="send_offer">Make Offer</button>
      </div>

      <p>
        If you do not want to make a contract offer in this period, you may click the button below:
      </p>
      <div class="col-auto mt-4">
        <button class="btn btn-secondary btn-lg" id="no_offers">Do Not Make Any Offers</button>
      </div>
    </div>
  </div>
  <div class="col-5">
    {{ include 'labor_market/components/ManagerSidebar.html' }}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module">
  import {InputSpinner} from "{{ static 'global/InputSpinner.js' }}";

  new InputSpinner(document.querySelector("#id_offer_wage"));

  function selectChoice() {
    for (const el of document.querySelectorAll(".row-selected")) {
      el.classList.remove("row-selected");
    }

    const selectedRow = this.closest("tr");
    selectedRow.classList.add("row-selected");
    const skillLevel = this.dataset.skillLevel;

    const skillRow = document.querySelector(`.revenue-table tr[data-skill-level='${skillLevel}']`);
    if (skillRow) {
      skillRow.classList.add("row-selected");
    }

    for (const row of document.querySelectorAll(`.offer-history-table tr[data-id-in-group='${this.value}']`)) {
      row.classList.add("row-selected");
    }
  }

  for (const el of document.querySelectorAll("input[name='offer_employee']")) {
    if (el.value > 0) {
      el.addEventListener("change", selectChoice);
    }
  }

  // Hidden radiobutton for "no offers" choice
  const nullChoice = document.querySelector("input[name='offer_employee'][value='0']");

  document.querySelector("#send_offer").addEventListener("click", function() {
    // Unset "no offers" choice before trying to submit the offer, in case it was preselected somehow
    nullChoice.checked = false;
  });
  document.querySelector("#no_offers").addEventListener("click", function() {
    // Set the "no offers" choice, and preset other values to pass validation
    nullChoice.checked = true;
    document.querySelector("input[name='offer_training'][value='False']").checked = true;
    // Required by InputSpinner
    document.querySelector("input[name='offer_wage']").setValue(1);
    document.querySelector("#id_offer_wage:input_spinner").setValue(1);
  });

</script>
<script src="{{ static 'labor_market/js/offer_confirmation_popup.js' }}"></script>
{% endblock %}

{% block styles %}
<style>
  .otree-body {
    max-width: 1870px;
  }

  .otree-title {
    text-align: center;
    padding-top: 0;
  }

  .form-label {
    font-weight: bold;
  }

  .employee-choice-table tr.row-selected {
    background-color: hsl(from var(--bs-primary) h s 90%);
  }

  .revenue-table tr.row-selected {
    background-color: hsl(from var(--bs-info) h s 90%);
  }

  .offer-history-table tr.row-selected {
    background-color: hsl(from var(--bs-info) h s 90%);
  }
</style>
{% endblock %}