{% block title %}Outcomes (Period {{ subsession.round_number }}/{{ C.NUM_ROUNDS }}){% endblock %}

{% block content %}
<div class="row gx-5 px-3">
{% if player.role == "Employee" %}
  <div class="col-7">
    {{ if player.field_maybe_none("contract") }}
    <p>
      You were hired by <b>{{player.contract.manager.label}}</b>, your <b>wage was {{player.contract.wage}}</b> and 
      {{ if player.contract.training }}
        <b>training was offered</b>, increasing your <b>Skill to {{ player.skill }}</b>.
      {{ else }}
        <b>no training was offered</b>.
      {{ endif }}
    </p>
    <p>
      You decided to exert {{ player.work_effort }} Effort, which cost you {{ effort_cost }}.
    </p>
    <h4>Payoff calculation</h4>
    <p>
      {{ session.config.employee_endowment | cu }} (endowment) +
      {{ player.contract.wage }} (wage) - {{effort_cost}} (effort cost) = {{ player.payoff }}.
    </p>
    {{ else }}
    <p>
      You weren't hired in this Period.
    </p>
    <h4>Payoff calculation</h4>
    <p>
      Your payoff is the basic endowment of {{ session.config.employee_endowment | cu }}.
    </p>
    {{ endif }}
    <p>
      Your <b>total payoff</b> after {{ subsession.round_number }} Period(s) is now <b>{{ participant.payoff }}</b>.
    </p>
    {{ next_button }}
  </div>
  <div class="col-5">
    {{ include 'labor_market/components/EmployeeSidebar.html' }}
  </div>
{% else %}
  <div class="col-7">
    <h3>Period outcome</h3>
    {% if player.field_maybe_none("contract") %}
    <p>
      You had a contract with <b>{{ player.contract.employee.label }}</b> which included
      a <b>{{ player.contract.wage }} wage</b> and
      {{ if player.contract.training }}
        <b>training was offered</b>.
      {{ else }}
        <b>no training was offered</b>.
      {{ endif }}
    </p>
    <p>
      The Worker had a <b>Skill level of {{ player.contract.employee.skill }}</b>
      and decided to exert <b>{{ player.contract.employee.work_effort }} Effort</b>.
    </p>
    {{ if player.contract.training }}
    <p>
      This would have resulted in a <b>{{ revenue }} revenue</b>.
      Because you offered training, the revenue was <b>reduced to {{ multiplied_revenue }}</b>.
    </p>
    {{ else }}
    <p>
      This resulted in a <b>{{ revenue }} revenue</b>.
    </p>
    {{ endif }}
    <h4>Payoff calculation</h4>
    <p>
      {{ session.config.manager_endowment | cu }} (endowment)
      {{ if player.contract.training }}
      + {{ multiplied_revenue }} (revenue)
      - {{ session.config.training_cost | cu }} (training cost)
      {{ else }}
      + {{ revenue }} (revenue)
      {{ endif }}
      - {{ player.contract.wage }} (wage) = {{player.payoff}}.
    </p>
    {% else %}
    <p>
      You did not manage to contract a Worker this Period.
    </p>
    <h4>Payoff calculation</h4>
    <p>
      Your payoff is the basic endowment of {{ session.config.manager_endowment | cu }}.
    </p>
    {% endif %}
    <p>
      Your <b>total payoff</b> after {{ subsession.round_number }} Period(s) is now <b>{{ participant.payoff }}</b>.
    </p>
    {{ next_button }}
  </div>
  <div class="col-5">
    {{ include 'labor_market/components/ManagerSidebar.html' }}
  </div>
</div>
{% endif %}
{% endblock %}

{{ block styles }}
<style>
  .otree-body {
    max-width: 1870px;
  }

  .otree-title {
    text-align: center;
    padding-top: 0;
  }

  .payoff-table tr.row-selected {
    background-color: hsl(from var(--bs-info) h s 90%);
  }
</style>
{{ endblock }}