{% block title %}Period {{ subsession.round_number }}/{{ C.NUM_ROUNDS }} Outcome{% endblock %}

{% block content %}
<div class="row gx-5 px-3">
{% if player.role == "Employee" %}
  <div class="col-7">
    {{ if player.field_maybe_none("contract") }}
    <p>
      You selected an effort level of {{ player.work_effort }}.
    </p>
    <p>
      The results of this period are shown in the space below:
    </p>
    {{ include "_tables/labor_market/employee_earnings_summary.html" }}
    {{ include "_tables/labor_market/manager_earnings_summary.html" }}
    {{ else }}
    <p>
      You have <strong>not</strong> formed a contract in this period.
      You will only receive your endowment for this period and wait while the other participants complete
      the work phase.
    </p>
    <h4>Payoff calculation</h4>
    <p>
      Your payoff is the basic endowment of {{ session.config.employee_endowment | cu }}.
    </p>
    {{ endif }}
    {{ include "_tables/labor_market/training_report.html" }}
    {{ next_button }}
  </div>
  <div class="col-5">
    {{ include 'labor_market/components/PlayerSidebar.html' }}
  </div>
{% else %}
  <div class="col-7">
    <h3>Period outcome</h3>
    {% if player.field_maybe_none("contract") %}
    <p>
      Your worker selected an effort level of {{ player.contract.employee.work_effort }}.
    </p>
    <p>
      The results of this period are shown in the space below:
    </p>
    {{ include "_tables/labor_market/manager_earnings_summary.html" }}
    {{ include "_tables/labor_market/employee_earnings_summary.html" }}
    {% else %}
    <p>
      You have <strong>not</strong> formed a contract in this period.
      You will only receive your endowment for this period and wait while the other participants complete
      the work phase.
    </p>
    <h4>Payoff calculation</h4>
    <p>
      Your payoff is the basic endowment of {{ session.config.manager_endowment | cu }}.
    </p>
    {% endif %}
    {{ next_button }}
  </div>
  <div class="col-5">
    {{ include 'labor_market/components/PlayerSidebar.html' }}
  </div>
</div>
{% endif %}
{% endblock %}

{{ block styles }}
<style>
  .otree-body {
    max-width: 1870px;
  }

  .otree-title {
    text-align: center;
    padding-top: 0;
  }

  .payoff-table tr.row-selected {
    background-color: hsl(from var(--bs-info) h s 90%);
  }
</style>
<link rel="stylesheet" type="text/css" href="{{ static 'labor_market/css/table.css' }}"/>
{{ endblock }}